{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content-container">
    <h2 class="content-header">
        <i class="fas fa-user-circle"></i>
        Profile Page
    </h2>
    <p style="margin-bottom: 1.5rem;">Your account details are below:</p>
    <table>
        <thead>
            <tr>
                <th width="40%">Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-user"></i>&nbsp;&nbsp;Username</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-lock"></i>&nbsp;&nbsp;Password</td>
                <td>******</td>
            </tr>
            <tr>
                <td><i class="fas fa-envelope"></i>&nbsp;&nbsp;Email</td>
                <td>{{ account['email'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}