{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="users-list-container">
    <div class="list-header">
        <h2>Profile Page</h2>
    </div>
    <p>Your account details are below:</p>
    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-user"></i> Username:</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-lock"></i> Password:</td>
                <td>******</td>
            </tr>
            <tr>
                <td><i class="fas fa-envelope"></i> Email:</td>
                <td>{{ account['email'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}